* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  margin: 15px;
}
input {
  text-align: center;
  padding: 10px;
  font-size: 32px;
  max-width: 300px;
  margin: 40px 0;
}
input {
  max-width: 70px;
}
button {
  padding: 3px 5px;
  margin: 0 5px;
}
.countDown {
  margin: 15px 0;
}
.countDown p {
  font-size: 30px;
}
